
body {
    font-family: "Raleway",Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
 
        section#image {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        section#image img {
            max-width: 70%;
            min-width: 50%;
            max-height: 70%;
            min-height: 50%;
            width: 50%;
            height: 50%;
            border-radius: 50%;
        }

        section#image div {
            max-width: 35%; /* Adjust as needed */
        }

        h2, p {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #555;
        }



header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h1 {
    color: #f4f4f4;

}
 h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
